header{
  background-image: url("../images/bg_header.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 76px;
  width: 100%;
  margin: auto;
  background-position: center ;
  position: relative;
  min-height: 740px;
  height: 100%;
}
.navbar-toggle .icon-bar{
  background-color: #000;
}
.navbar-toggle{
  border: solid 1px #000;
}
.nav{
  padding-top: 39px;
}
.nav li a{
  color: white;
  border: rgba(0, 0, 0, 0) 1px solid;
  border-radius: 50px;
  padding: 9px 20px;
}
.nav li a:hover, .nav li a:visited, .nav li a:active, .nav li a:focus{
  border: white 1px solid;
  background-color: rgba(0, 0, 0, 0);
}
.logo{
  padding-top: 39px;
}
header h2{
  text-align: center;
  padding-top: 192px;
  color: #dadbd9;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  letter-spacing: 7px;
  font-weight: normal;
  margin-bottom: 25px;
}
header p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #ededec;
  margin-top: 35px;
  letter-spacing: 0.5px;
}
.circle {
  width: 36px;
  height: 36px;
  background-color: #19bd9a;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 80px;

}
.fa-angle-down{
  color: white;
  margin: auto;
}
////////////////////////////END HEADER///////////////////////////////////
h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  color: #333b46;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #81868e;
}
////////////////////////////BEGIN Section-1///////////////////////////////////
.first{
  .col-md-6 {
    margin-bottom: 100px;
    h2 {
      padding-top: 115px;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      color: #81868e;
      margin-bottom: 45px;
    }
    a {
      border: 1px solid #333b46;
      padding: 12px 29px;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      border-radius: 50px;
      color: #333b46;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .col-md-4{
    img{
      padding-top: 80px;
      width: 100%;
      max-width: 200px;
    }
  }
}

////////////////////////////END Section-1///////////////////////////////////
////////////////////////////BEGIN Section-2/////////////////////////////////

.second {
  background-color: #f3f3f3;
  h2:first-child {
    color: #333b46;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 28px;
  }
  p {
    color: #81868e;
    text-align: center;
    margin-bottom: 60px;
  }
  .icon-bar {
    text-align: center;
    div {
      display: inline-block;
      margin-right: 27px;
      a i {
        color: white;
        background-color: #81868e;
        border-radius: 50%;
        height: 55px;
        width: 55px;
        text-align: center;
        padding-top: 15px;
        font-size: 28px;
        margin: auto;
        &:hover {
          background-color: #19bd9a;
        }
      }
    }
  }
}

.second .col-md-3 h2{
  text-align: left;
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: normal;
}
.second .col-md-3 p{
  text-align: left;
}
.second .col-md-3 p span{
  color: #19bd9a;
}
.second .col-md-7 p strong:nth-child(4){
  color: #19bd9a;
}
.second .col-md-7 p{
  text-align: left;
  padding-top: 117px;
  padding-bottom: 60px;
}

////////////////////////////END Section-2///////////////////////////////////
////////////////////////////BEGIN Section-3/////////////////////////////////

.third {
  h2 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 28px;
  }
  p {
    text-align: center;
    margin-bottom: 65px;
  }
}

////////////////////////////END Section-3///////////////////////////////////
////////////////////////////BEGIN Section-4/////////////////////////////////

.four{
  .hov{
    height: 319px;
    position: relative;
    padding: 0;
    &:after{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #000000;
      color: #FFF;
      text-align: center;
      padding-top: 150px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: lighter;
      opacity: 0.8;
    }
    &:hover{
      &:after{
        display: none;
      }
    }
  }
  .first{
    background-image: url("../images/section-four-pic1.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    &:after{
      content: "+";
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
    }
  }
  .two{
    background-image: url("../images/section-four-pic2.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    &:after{
      content: "VINTAGE";
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      letter-spacing: 3px;
    }
  }
  .three{
    background-image: url("../images/section-four-pic3.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    &:after{
      content: "Branding";
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      letter-spacing: 3px;

    }
  }
}

////////////////////////////END Section-4///////////////////////////////////
////////////////////////////BEGIN Section-5/////////////////////////////////

.five{
  background-image: url("../images/green-line.png");
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  .col-md-8{
    p{
      font-size: 20px;
      padding-top: 45px;
      padding-bottom: 45px;
      color: #fff;
      margin: 0;
    }
  }
  .col-md-3{
    padding-top: 50px;
    a{
      border: 1px solid white;
      padding: 12px 24px;
      color: white;
      text-decoration: none;
      border-radius: 50px;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      letter-spacing: 2px;
      //display: inline-block;
    }
  }
}

////////////////////////////END Section-5///////////////////////////////////
////////////////////////////BEGIN Section-6/////////////////////////////////

.six{
  background-color: #f3f3f3;
  h2{
    margin: 0;
    padding-top: 81px;
    margin-bottom: 42px;
    text-align: center;
  }
  p{
    margin: 0;
    text-align: center;
  }
  .col-sm-1{
    margin-top: 61px;
  }
  .col-sm-8 {
    h2 {
      text-align: left;
      padding-bottom: 0;
      padding-top: 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      letter-spacing: 1px;
    }
    p {
      text-align: left;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      margin-bottom: 43px;
    }
    p strong:first-child {
      color: #19bd9a;
    }
    p strong:nth-child(2) {
      color: #19bd9a;
    }
    .two{
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
    }
  }
  .col-sm-6{
    padding-top: 65px;
    padding-bottom: 182px;
    .col-sm-4 p{
      padding-top: 24px;
    }
  }
}

.col-sm-6 .col-sm-4 {
  padding-top: 53px;
}

  .six {
    a i {
      color: white;
      background-color: #81868e;
      border-radius: 50%;
      height: 55px;
      width: 55px;
      text-align: center;
      padding-top: 15px;
      font-size: 28px;
      margin: auto;
      margin-bottom: 17px;
      &:hover {
        background-color: #19bd9a;
      }
    }
  }
  .six .col-sm-6 .col-sm-4{
    display: inline-block;
  }
  ////////////////////////////Progress bar////////////////////////////////
  .progress{
    width: 125px;
    height: 125px;
    line-height: 125px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
  }
  .progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #047378;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left{
    left: 0;
  }
  .progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 67.5px;
    border-bottom-right-radius: 67.5px;
    border-left: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform-origin: left;
    transform-origin: left;
    animation: loading-1 1.8s linear forwards;
  }
  .progress .progress-right{
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform-origin: right;
    transform-origin: right;
  }
  .progress.blue .progress-right .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
  }
  .progress.yellow .progress-right .progress-bar{
    animation: loading-3 1.5s linear forwards 1.8s;
  }
  .progress.pink .progress-right .progress-bar{
    animation: loading-4 1.5s linear forwards 1.8s;
  }
  .progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #f3f3f3;
    font-size: 25px;
    color: #81868e;
    line-height: 125px;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 5%;
  }
  .progress .progress-bar{
    border-color: #19bd9a;
  }
  .progress.blue .progress-left .progress-bar {
    animation: loading-1 1.8s linear forwards; }

  @keyframes loading-1{
    0%{
      -webkit-transform:rotateZ(0deg);
      transform: rotateZ(0deg);
    }
    100%{
      -webkit-transform: rotateZ(-180deg);
      transform: rotateZ(-180deg);
    }
  }
  @keyframes loading-2{
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100%{
      -webkit-transform: rotate(-108deg);
      transform: rotate(-108deg);
    }
  }
  @keyframes loading-3{
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100%{
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
  @keyframes loading-4{
    0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100%{
      -webkit-transform: rotate(-36deg);
      transform: rotate(-36deg);
    }
  }
  ////////////////////////////END Section-6///////////////////////////////////
  ////////////////////////////BEGIN Section-7/////////////////////////////////

  .seven{
    background-image: url("../images/section6-bg.png");
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    img{
      margin-top: -38px;
    }
    h2{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 20px;
      letter-spacing: 3px;
      color: #f3f3f3;
      text-transform: uppercase;
      padding-top: 80px;
      margin: 0;
    }
    .col-md-6{
      p:nth-child(2){
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #abacac;
        padding-top: 60px;
        margin: 0;
      }
      p:nth-child(3){
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #abacac;
        text-transform: uppercase;
        padding-top: 32px;
        font-weight: bold;
        margin: 0;
      }
      p:nth-child(4){
        padding-bottom: 100px;
        color: #b2b3b3;
      }
      p span{
        color: #19bd9a;
        padding-bottom: 100px;
      }
    }
  }

  ////////////////////////////END Section-7///////////////////////////////////
  ////////////////////////////BEGIN Section-8/////////////////////////////////
  .eight{
    background-color: #f3f3f3;
    h2{
      text-align: center;
      margin: 0;
      padding-top: 80px;
    }
    p{
      text-align: center;
      margin-top: 42px;
      margin-bottom: 80px;
    }
    .menu{
      margin-bottom: 77px;
      text-align: center;
      li{
        margin-right: 42px;
        display: inline-block;
      }
      a{
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #575757;
        text-decoration: none;
        letter-spacing: 1px;
        &:after{
          content: '';
          display: block;
          height: 1px;
          width: 38px;
          margin: auto;
          margin-top: 14px;
          background-color: #f3f3f3;
        }
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  .eight .menu  a:hover::after{
    background-color: #19bd9a;
  }
  ////////////////////////////END Section-8///////////////////////////////////




  /////////////////////BEGIN MEDIA-QUERIES/////////////////////////

   @media only screen and (max-width: 992px) {
    .six .col-sm-6 {
      width: 100%;
    }
    .six .col-sm-6 {
      padding-bottom: 0;
    }
    .six .col-sm-6 .col-sm-4 {
      padding-top: 0;
      padding-bottom: 82px;
    }
  }

  @media only screen and (max-width: 767px) {
    img {
      width: 90%;
    }
    .navbar-toggle .icon-bar {
      background-color: #fff;
    }
    .navbar-toggle {
      border: solid 1px #fff;
      margin-top: 45px;
    }
    header h2 {
      padding-top: 80px;
    }
    .first .col-md-6 h2 {
      padding-top: 38px;
    }
    .first .col-md-4 img {
      padding-top: 0;
    }
    .second .col-md-7 p {
      padding-top: 0;
      padding-bottom: 40px;
    }
    .five .col-md-3 {
      padding-top: 50px;
      margin-bottom: 50px;
    }
    .five .col-md-8 p {
      padding-bottom: 0;
    }
    .six .col-sm-6 {
      width: 100%;
      text-align: center;
    }
    .six .col-sm-6 .col-sm-4 {
      padding-bottom: 0;
    }
    .six .col-sm-6 {
      margin-bottom: 60px;
    }
  }
  @media only screen and (max-width: 375px) {
    .circle {
      left: 45%;
    }
    .six .progress, .col-sm-4 p{
      display: none;
    }
  }
  @media only screen and (max-width: 360px) {
    .progress, .col-sm-4 p{
      display: none;
    }
  }
